body {
  margin: 0;
  padding: 0;
  background-color: #000814;
  font-family: 'Courier New', monospace;
  color: #00f0ff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  background: black;
  color: #00f0ff;
  border: 2px solid #00f0ff;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
 background: rgba(0, 240, 255, 0.05);
  color: #00f0ff;
  border: 1px solid #00f0ff;
  cursor: pointer;
}

button:hover {
  background: #00f0ff;
  color: #000814;
}

.hidden {
  display: none;
}

#errorMsg {
  color: #ff003c;
  margin-top: 10px;
}
..root-container {
  padding: 40px;
  color: #0f0;
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

.folder {
  text-align: center;
  cursor: pointer;
   transition: 0.3s ease;
}

.folder img {
  width: 100px;
  height: 100px;
}
.root-header {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.folder img {
  width: 80px;
  filter: drop-shadow(0 0 5px #00f0ff);
}

.folder p {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

.folder:hover {
  transform: scale(1.05);
}

.folder:hover img {
  filter: drop-shadow(0 0 15px #00f0ff);
}